<span style="float:right;">[[source]](https://github.com/pyhashzero/pyhashzero/blob/master/hz/ai/callback.py#L124)</span>
### ValidationLogger

```python
hz.ai.callback.ValidationLogger.hz.ai.callback.ValidationLogger(run_path, interval)
```

----

<span style="float:right;">[[source]](https://github.com/pyhashzero/pyhashzero/blob/master/hz/ai/callback.py#L137)</span>

### on_agent_begin


```python
ValidationLogger.on_agent_begin(self)
```

----

<span style="float:right;">[[source]](https://github.com/pyhashzero/pyhashzero/blob/master/hz/ai/callback.py#L141)</span>

### on_episode_begin


```python
ValidationLogger.on_episode_begin(self)
```

----

<span style="float:right;">[[source]](https://github.com/pyhashzero/pyhashzero/blob/master/hz/ai/callback.py#L144)</span>

### on_episode_end


```python
ValidationLogger.on_episode_end(self)
```
